div {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  img {
    height: 80%;
  }
  nav {
    margin-left: 2.5vw;
    a {
      font-size: 1.8rem;
      margin-left: 1vw;
      color: #fff;
    }
    a.active {
      border-bottom: 1px solid #eee;
    }
  }
}
