table {
  width: 100%;
  tr {
    height: 30px;
    th,
    td {
      font-size: 1.4rem;
    }
    th {
      border-bottom: 2px solid #eee;
    }
    td {
      text-align: center;
      vertical-align: center;
      border-bottom: 1px solid #eee;
    }
  }
}

div {
  font-size: 1.4rem;
  text-align: center;
}
