<form>
  <fieldset>
    <legend>基本信息</legend>
    <label>
      <span>姓名：</span>
      <input type="text" placeholder="请输入客户姓名">
    </label>
    <label>
      <span>性别：</span>
      <input type="radio" name="sex"><span>男</span>
      <input type="radio" name="sex"><span>女</span>
    </label>
  </fieldset>
  <fieldset>
    <legend>国籍</legend>
    <label>
      <span>国籍类型：</span>
      <select>
        <option value="domestic">国内</option>
        <option value="foreign">国外</option>
      </select>
    </label>
    <label>
      <span>地区：</span>
      <select>
        <option value="domestic">国内</option>
        <option value="foreign">国外</option>
      </select>
    </label>
    <label>
      <span>国家：</span>
      <select>
        <option value="domestic">国内</option>
        <option value="foreign">国外</option>
      </select>
    </label>
  </fieldset>
  <button>保&nbsp;&nbsp;存</button>
</form>
